.VPHome {
  // 定义遮罩样式
  background: radial-gradient(
                  ellipse,
                  rgba(var(--bg-gradient-home), 0.8) 0%,
                  rgba(var(--bg-gradient-home), 0) 150%
  );

  // 自定义首页背景图
  &::before {
    background-image: url(assets/bg-light.webp);
    background-size: cover;

    .dark & {
      background-image: url(assets/bg-dark.webp);
    }
  }
}

